@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* HEADER */
/* header{
    background-color: black;
    height: 64px;
} */
.nav{
    /* background-color: wheat; */
    margin: 0px 24px;
    height: 64px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo{/* HEADER-NAV-Left Side */
    /* background-color: red; */
    flex: 1;
    height: 50%;

    display: flex;
}

.h2__nav__thin{
    color: rgb(169, 165, 165);
    font-weight: 400;
}



.nav__right{/* HEADER-NAV-Right Side */
    /* background-color: blue; */
    flex: 1;
    height: 50%;

    display: flex;
    justify-content: flex-end;
    align-items: center;

}

ul{
    /* background-color: antiquewhite; */

    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

li{
    font-size: 1.5vw;
    list-style: none;
}

a{
    color: black;
    text-decoration: none;
}

/* Section: Hero */

.hero{
    background-color:lightgray ;
    padding: 32px 0px;

    display: flex;
}


.hero__container__left{ /*Hero Left*/
    width: 60%;
    padding: 0px 24px;
}

.img__hero{
    width: 100%;
}


.hero__container__right{    /*Hero Right*/
    width: 40%;
    padding-right: 12.1vw;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.h2__hero{

    font-size: 3.2vw;
    line-height: 1.2em;
}

.h3__hero{
    font-size: 1.5vw;
    margin: 2vw 0px;
}

.button__hero{
    background-color: rgb(80, 80, 80);
    color: white;

    font-size: 1.3vw;

    width: 100%;
    padding: 8px 0px;
}



/* INFORMATION */

.information{

    display: flex;
}

.information__container__left{ /*Information Left*/
    width: 60%;
    padding: 32px 24px;
    border-right: 2px solid lightgrey;
}
.img__information__left{
    width: 100%;
}

.h2__information{
    color: rgb(54, 53, 53);
    font-size: 3vw;

    padding: 32px 0px 24px 0px;
}

.p__information__left{
    font-weight: 100;
}

.p__information__author{
    padding-top: 24px;
}



.information__container__right{ /*Information Right*/
    width: 40%;
    padding-top: 32px;
}

.information__content__right{
    border-bottom: 1px solid lightgray;
    
    display: flex;

}

.information__right__img{
    width: 35%;
    padding: 16px;
}

.img__information__right{
    width: 100%;
    height: auto;
}

.information__right__text{
    width: 65%;
    padding-right: 25%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.p__information{
    padding: 8px 0px;
    font-weight: 100;
}

.a__information{
    color: rgb(0, 170, 255);
}



/* Section Course */
.course{
    background-color: lightgray;
}

.h2__course{

    padding: 32px 0px;
    text-align: center;
}

.course__containter{ /*Course Container*/
    padding: 0px 72px 32px 72px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;

}

.course__content{ /*Course Content*/
    background-color: white;

    width: 25%;
    flex-grow: 1;
}

.course__img__box{ /*Course IMG*/
    width: 100%;
    height: auto
}

.img__course{
    width: 100%;
    height: auto;
}

.course__text__box{  /*Course Text*/
    padding: 16px 16px 24px 16px;
}

.h3__course{
    font-size: 2vw;
    font-weight: 500;
}

.p__course{
    color: rgb(148, 146, 146);

    padding: 8px 0px;
    font-size: 1.3vw;
    font-weight: 100;
}

.p__course__description{
    color: rgb(148, 146, 146);

    font-size: 1.3vw;
    font-weight: 100;
}



