@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* HEADER */
/* header{
    background-color: black;
    height: 64px;
} */
.nav{
    /* background-color: wheat; */
    margin: 0px 24px;
    height: 64px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo{/* HEADER-NAV-Left Side */
    /* background-color: red; */
    flex: 1;
    height: 50%;

    display: flex;
}

.nav__logo__left{
    display: flex;
}

.h2__nav__thin{
    color: rgb(169, 165, 165);
    font-weight: 400;
}



.nav__right{/* HEADER-NAV-Right Side */
    /* background-color: blue; */
    flex: 1;
    height: 50%;

    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.ul__nav__header{
    /* background-color: antiquewhite; */

    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}


li{
    font-size: 1.5vw;
    list-style: none;
    
}

li:hover{
    /* border-bottom: 1px solid black; */

    letter-spacing: 0.1em;
    background-color: rgba(212, 212, 212, 0.5);
    border-radius: 5px;
    padding: 8px;

}

.a__header{
    color: black;
    text-decoration: none;
}

/* Section: Hero */

.hero{
    background-color:lightgray ;
    padding: 32px 0px;

    display: flex;
}


.hero__container__left{ /*Hero Left*/
    width: 60%;
    padding: 0px 24px;
}

.img__hero{
    width: 100%;
}


.hero__container__right{    /*Hero Right*/
    width: 40%;
    padding-right: 12.1vw;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.h2__hero{

    font-size: 3.2vw;
    line-height: 1.2em;
}

.h3__hero{
    font-size: 1.5vw;
    margin: 2vw 0px;
}

.button__hero{
    background-color: rgb(80, 80, 80);
    color: white;
    cursor: pointer;

    font-size: 1.3vw;

    width: 100%;
    padding: 8px 0px;
}
.button__hero:hover{

    box-shadow: 5px 8px rgba(0, 0, 0, 0.5);
}



/* INFORMATION */

.information{

    display: flex;
}

.information__container__left{ /*Information Left*/
    width: 60%;
    padding: 32px 24px;
    border-right: 2px solid lightgrey;
}
.img__information__left{
    width: 100%;
}

.h2__information{
    color: rgb(54, 53, 53);
    font-size: 3vw;

    padding: 32px 0px 24px 0px;
}

.p__information__left{
    font-weight: 100;
}

.p__information__author{
    padding-top: 24px;
}



.information__container__right{ /*Information Right*/
    width: 40%;
    padding-top: 32px;
}

.information__content__right{
    border-bottom: 1px solid lightgray;
    
    display: flex;

}

.information__content__right:hover{
    background-color: rgb(225, 222, 222);
}

.information__right__img{
    width: 35%;
    padding: 16px;
}

.img__information__right{
    width: 100%;
    height: auto;
}

.information__right__text{
    width: 65%;
    padding-right: 25%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.p__information{
    padding: 8px 0px;
    font-weight: 100;
}

.a__information{
    color: rgb(0, 170, 255);
}



/* Section Course */
.course{
    background-color: lightgray;
}

.h2__course{
    font-size: 2.5vw;
    

    padding: 32px 0px;
    text-align: center;
}

.course__containter{ /*Course Container*/
    padding: 0px 72px 32px 72px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;

}

.course__content{ /*Course Content*/
    background-color: white;

    width: 25%;
    flex-grow: 1;
}
.course__content:hover{
    cursor: pointer;


    box-shadow: 2px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.course__img__box{ /*Course IMG*/
    width: 100%;
    height: auto
}

.img__course{
    width: 100%;
    height: auto;
}

.course__text__box{  /*Course Text*/
    padding: 16px 16px 24px 16px;
}

.h3__course{
    font-size: 2vw;
    font-weight: 500;
}

.p__course{
    color: rgb(148, 146, 146);

    padding: 8px 0px;
    font-size: 1.3vw;
    font-weight: 100;
}

.p__course__description{
    color: rgb(148, 146, 146);

    font-size: 1.3vw;
    font-weight: 100;
}




/* Thesis */


.h2__thesis__header{
    font-size: 2.5vw;
    text-align: center;
    margin: 32px 0px;
}

.thesis__container{
    
    margin: 32px 0px;
    display: flex;

}

.thesis__container__left{ /* Thesis Left*/
    width: 60%;
    padding: 0px 24px;
}

.video__thesis{
    width: 100%;
}

.h2__thesis__left{
    padding: 24px 0px 8px 0px;
}

.thesis__container__right{ /* Thesis Right*/
    width: 40%;

}

.thesis__content{
    display: flex;

}
.thesis__content:hover{
    background-color: lightgray;
}

.thesis__content__img{
    width: 35%;
    padding: 16px;
    
}
.img__thesis{
    width: 100%;
}

.thesis__content__text{
    width: 65%;
    padding-right: 23%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.p__thesis{
    color: rgb(148, 146, 146);
}




/* Footer */
.footer__container{
    border-top: 1px solid darkgray;
    height: 128px;
    padding: 16px 24px 0px 24px;
    display: flex;
    justify-content: space-between;
}

.footer__container__right{

    display: flex;
    gap: 10px;
}

.p__footer{
    color: darkgray;

    font-weight: 500;
}

.a__footer{
    color: darkgray;
    text-decoration: none;

}

.a__footer:hover{
    text-decoration: underline;
}


.mobile{
    display: none;
}
/*Mobile Screen*/

@media screen and (max-width: 480px){
    .desktop{
        display: none;
    }

    .mobile{
        display: block;
    }




    /*Header*/

    header{

        display: flex;
    }

    .nav{

        width: 100%;
    }
    .nav__logo{
 
        
        justify-content: space-evenly;
    }



    /* Section Hero */
    .hero{
        padding: 0px;

        display: flex;
        flex-direction: column;

    }

    .hero__container__left{
        padding: 0;
        width: 100%;
    }

    .hero__container__right{
        padding: 32px 16px;
        width: 100%;
        align-items: center;
    }

    .h2__hero{
        font-size: 2.6em;
    }

    .h3__hero{

        padding: 32px 0px 24px 0px;
        font-size: 1.5em;
    }

    .button__hero{
        font-size: 1em;
    }
    
}